
.titulo h1{
    background:white;
    border-radius:5px;
    padding: 15px;
    margin-top: 10px;
    font-family: 'Lobster', cursive;
}

.login{
    background-color: white;
    margin-top: 0px;
    padding: 10px;
    width: 400px;
}

.login-container{
    margin-top: 150px;
    width: 400px;
    border: solid burlywood;
    border-radius: 5px;
    background-color: black;
}
